<ul
    class='nav justify-content-center'
    style='background-color: #e3f2fd; font-size: 30px'
>
    <li class='nav-item'>
        <a class='nav-link active' aria-current='page' href='#'>Famous
            Restaurant</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link' href='register'>Register</a>
    </li>
</ul>

{{#if session}}

    <div class='alert alert-success text-center' role='alert'>
        Thank you register !!!
    </div>
{{/if}}

<div class='m-auto'>
    <img
        src='img/restaurant-interior.jpg'
        class='m-auto'
        style='width: -webkit-fill-available;'
        alt=''
    />
</div>
