<div class='container text-center mt-5'>
    <div class='row m-auto'>
        <div class='col'>
            <a class='btn btn-danger' href='?holidays=newyear'>Happy New Year</a>
            <a class='btn btn-success' href='?holidays=mid_autumn'>Happy
                Mid-Autumn Festival</a>
            <a class='btn btn-warning' href='?holidays=chrismas'>Merry
                christmas</a>
        </div>

    </div>
    
            <div class='mt-5 m-auto' style="width: 600px;">
                <img width="500" src='{{img}}' class='card-img' alt='...' />
            </div>
    </div>

</div>